/* utilities */
.u-icon
{
    font-size: 1.5em;
}
.u-title
{
    display: inline-block;
    font-weight: 300;
    padding: 0 1em;
}

/* tags */
body
{
  font-size: 16px;
}
h1
{
    padding: 0 1em;
}

/* classes */
.about
{
    background-image: url('../img/pattern01.png');
    padding-top: 3em;
    text-align: center;
}
.about-container
{
    color: #ecf0f1;
}
.about-image
{
    margin: 0;
    padding: 0;
}
.about-logo
{
    border: .5em solid #7f8c8d;
    border-radius: 50%;
    text-align: center;
    transition-property:width,height,transform,background,font-size,opacity;
    transition-duration:1s,1s,1s,1s,1s,1s;
    -webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
    -o-transition-property:width,height,-o-transform,background,font-size,opacity;
    -o-transition-duration:1s,1s,1s,1s,1s,1s;
    -moz-transition-property:width,height,-o-transform,background,font-size,opacity;
    -moz-transition-duration:1s,1s,1s,1s,1s,1s;
}
.about-logo:hover
{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity:1;
}
.about p
{
    /* opacity cool */

    background: rgba(11, 11, 1, 0.3);
    margin: .5em 0 0;
    padding: 1em 2em;
    text-align: justify;
}
.contact
{
    background: #95a5a6;
}
.footer
{
    background: #2c3e50;
}
.header
{
    /*background: #ccc;*/
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
}
.jobs
{
    background: #ecf0f1;
}
/* nav styles */
.nav
{
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    position: relative;
}
.nav-item
{
    display: inline;
    float: left;
    zoom: 1;
}
.nav-item a
{
    background: #7f8c8d;
    color: #ecf0f1;
    display: block;
    font-weight: 300;
    padding: 15px 20px;
    text-decoration: none;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
}
.nav-item a:hover
{
    background: #7f8c8d;
}
.nav-item:first-child a
{
    border-radius: 0 0 0 5px;
}
.nav-item:last-child a
{
    border-radius: 0 0 5px 0;
}
.nav-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* mobile navigation */
.nav-mobile
{
    background: #555;
    /*border-radius: 5px;*/
    color: #fff;
    cursor: pointer;
    display: none; /* Hide from browsers that don't support media queries */
    font-size: 1.7em;
    font-weight: 300;
    line-height: 40px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    /*right: 0;*/
    width: 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.nav-mobile:after
{
    content: "\e6b8";
    font-family: 'icomoon';
}
.nav-title
{
    display: none;
}
.projects
{
    background: #bdc3c7;
}
.services
{
    background: #ecf0f1;
    text-align: center;
}
.services-item
{
    background: #34495e;
    box-shadow: 7px 5px 15px 1px rgba(0,0,0,0.4);
    color: #ecf0f1;
    display: inline-block;
    margin: 0 auto 1.5em;
    width: 30%;
    -moz-box-shadow: 7px 5px 15px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 7px 5px 15px 1px rgba(0,0,0,0.4);
}
.services-description
{
    color: #ecf0f1;
    padding: 0 .5em 1.5em .5em;
    text-align: justify;
}
.services h3
{
    display: inline-block;
}

/* media queries */
@media only screen and (min-width: 320px) and (max-width: 768px)
{
    .nav-mobile
    {
        display: block;
        position: fixed;
        border-radius: 0 5px 5px 5px;
    }
    .nav
    {
        padding: 40px 0 0;
        position: relative;
        width: 100%;
    }
    .nav-list
    {
        display: none;
    }
    .nav-item
    {
        width: 100%;
        float: none;
    }
    .nav-item a
    {
        background: #555;
        padding: 10px;
    }
    .nav-item:first-child a
    {
        border-radius: 0;
    }
    .nav-item:last-child a
    {
        border-radius: 0 0 5px 5px;
    }
    .nav-active
    {
        display: block;
        text-transform: uppercase;
        position: fixed;
        width: 100%;
    }
    .nav-mobile-open
    {
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
    }
    .nav-title
    {
        background: #7f8c8d;
        border-radius: 5px 0 0 5px;
        color: #ecf0f1;
        display: block;
        font-weight: 900;
        height: 40px;
        left: 0;
        margin: 0 auto;
        position: fixed;
        right: 0;
        top: 0;
    }
    .services-item
    {
        background: #34495e;
        box-shadow: 7px 5px 15px 1px rgba(0,0,0,0.4);
        color: #ecf0f1;
        margin: 0 auto 1.5em;
        width: 90%;
        -moz-box-shadow: 7px 5px 15px 1px rgba(0,0,0,0.4);
        -webkit-box-shadow: 7px 5px 15px 1px rgba(0,0,0,0.4);
    }
}
