<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>GBRA - CONTRACTORS LTD</title>
    <link rel="stylesheet" href="../statics/css/normalize.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="../statics/css/styles.css" />

</head>

<body>
    <!-- header section -->
    <header id="header" class="">
        <nav class="">
            <ul class="">
                <li class=""><a href="#header">HOME</a></li>
                <li class=""><a href="#company">COMPANY</a></li>
                <li class=""><a href="#services">SERVICES</a></li>
                <li class=""><a href="#projects">PROJECTS</a></li>
                <li class=""><a href="#projects">JOBS</a></li>
                <li class=""><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
        <h1>CONTRACTOR · CONSTRUCTION SERVICE & SUPPLY</h1>
    </header>

    <!-- company section -->
    <section id="" class="">
        <h2>COMPANY</h2>
        <p>
            Marshmallow wafer chupa chups sweet. Pudding gingerbread apple pie pie cheesecake. Oat cake gummies chocolate bar soufflé gummi bears cupcake biscuit applicake sugar plum. Chocolate bar chocolate bar oat cake sweet roll macaroon tart chocolate bar.
        </p>
    </section>

    <!-- services section -->
    <section id="" class="">
        <h2>SERVICES</h2>
        <p>
            Marshmallow wafer chupa chups sweet. Pudding gingerbread apple pie pie cheesecake. Oat cake gummies chocolate bar soufflé gummi bears cupcake biscuit applicake sugar plum. Chocolate bar chocolate bar oat cake sweet roll macaroon tart chocolate bar.
        </p>
    </section>

    <!-- projects section -->
    <section id="" class="">
        <article class="">
            <figure></figure>
            <p>
                Biscuit wafer powder cake caramels croissant jelly gummies. Caramels muffin sesame snaps tiramisu applicake marzipan pudding pudding. Jelly tootsie roll tart biscuit.
            </p>
            <span class="">Details...</span>
        </article>
        <article class="">
            <figure></figure>
            <p>
                Biscuit wafer powder cake caramels croissant jelly gummies. Caramels muffin sesame snaps tiramisu applicake marzipan pudding pudding. Jelly tootsie roll tart biscuit.
            </p>
            <span class="">Details...</span>
        </article>
        <article class="">
            <figure></figure>
            <p>
                Biscuit wafer powder cake caramels croissant jelly gummies. Caramels muffin sesame snaps tiramisu applicake marzipan pudding pudding. Jelly tootsie roll tart biscuit.
            </p>
            <span class="">Details...</span>
        </article>
        <article class="">
            <figure></figure>
            <p>
                Biscuit wafer powder cake caramels croissant jelly gummies. Caramels muffin sesame snaps tiramisu applicake marzipan pudding pudding. Jelly tootsie roll tart biscuit.
            </p>
            <span class="">Details...</span>
        </article>
        <article class="">
            <figure></figure>
            <p>
                Biscuit wafer powder cake caramels croissant jelly gummies. Caramels muffin sesame snaps tiramisu applicake marzipan pudding pudding. Jelly tootsie roll tart biscuit.
            </p>
            <span class="">Details...</span>
        </article>
        <article class="">
            <figure></figure>
            <p>
                Biscuit wafer powder cake caramels croissant jelly gummies. Caramels muffin sesame snaps tiramisu applicake marzipan pudding pudding. Jelly tootsie roll tart biscuit.
            </p>
            <span class="">Details...</span>
        </article>
        <article class="">
            <figure></figure>
            <p>
                Biscuit wafer powder cake caramels croissant jelly gummies. Caramels muffin sesame snaps tiramisu applicake marzipan pudding pudding. Jelly tootsie roll tart biscuit.
            </p>
            <span class="">Details...</span>
        </article>
        <article class="">
            <figure></figure>
            <p>
                Biscuit wafer powder cake caramels croissant jelly gummies. Caramels muffin sesame snaps tiramisu applicake marzipan pudding pudding. Jelly tootsie roll tart biscuit.
            </p>
            <span class="">Details...</span>
        </article>
    </section>

    <!-- jobs section -->
    <section id="" class="">
        <h2>JOBS</h2>
        <p>
            Marshmallow wafer chupa chups sweet. Pudding gingerbread apple pie pie cheesecake. Oat cake gummies chocolate bar soufflé gummi bears cupcake biscuit applicake sugar plum. Chocolate bar chocolate bar oat cake sweet roll macaroon tart chocolate bar.
        </p>
    </section>

    <!-- contact & social media section -->
    <section id="" class="">
        <h2>CONTACT</h2>
        <p>
            Marshmallow wafer chupa chups sweet. Pudding gingerbread apple pie pie cheesecake. Oat cake gummies chocolate bar soufflé gummi bears cupcake biscuit applicake sugar plum. Chocolate bar chocolate bar oat cake sweet roll macaroon tart chocolate bar.
        </p>
    </section>

    <!-- footer section -->
    <footer id="" class="">Footer</footer>

    <!-- sccripts -->
    <script src="../statics/js/jquery.js"></script>
    <script src="../statics/js/main.js"></script>
</body>
</html>
